body {
    margin: auto;
    font-family: Arial, sans-serif;
    width: 100%;
}
.espacionegro {
    background-color: black;
    padding-bottom: 300px;
    
}
.espacioblanco{
    padding-bottom: 150px;
}
.negro{
    background-color: black;
    padding: 60px 0;
    width: 100%;
}
/* Principal */
.imagenegro{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}
.imagen-contenedor {
    width: 100%;
    margin-top: 50px;
}
.contentenedornegro{
    width: 100%;
    max-width: 700px; 
    margin:  auto;
    text-align: center;
}

.contentenedornegro h1{
    font-size: 58px;
    color: white;
    margin: 0 0 15px 0;
    line-height: 1.1;
}
.contentenedornegro p{
    font-size: 20px;
    color: rgb(166, 166, 166);
    margin: 0;
}
/* 3 cArtas */
.contenedor3cartas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.cartasnegras {
    display: flex;
    gap: 20px;
    width: 100%;
}

.cartasnegras:last-child .card .card-description {
    text-align: left;
    margin-right: 600px; 
}

.card {
    background-color: #1A1A1A;
    border-radius: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    position: relative;
}
.card-title {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 60px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}
.espacio {    margin-bottom: 300px;
}
.card-description {
    font-size: 18px;
    line-height: 1.5;
    color:  #E3E3E3; 
    text-align: left;
    margin-left: 60px;
    margin-right: 70px;
    padding-bottom: 30px;
}
.card-description2{
    font-size: 18px;
    line-height: 1.5;
    color:  #E3E3E3; 
    text-align: left;
    margin-left: 60px;
    margin-right: 600px;
    padding-bottom: 30px;   
}
.contenedorvideo{
    position: absolute;
    width: 350px; 
    height: 200px; 
    bottom: 20px; 
    right: 20px; 
}

.contenedorvideo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cilindromitad{
    width: 350px;
    margin: auto;

}

.docamarillo{
    width: 100px;
    margin-left:30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.contenedorcartas {
    display: flex;
    flex-wrap: wrap;     
    gap: 20px; 
    justify-content: left; 
    padding: 20px; 
}

.textitodeabajocard{
    max-width: calc(50% - 20px); 
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: left; 
    margin-bottom: 40px; 
    box-sizing: border-box; 
    flex-grow: 1;
}
.textitodeabajocard h3{
    font-size: 18px;
    color: white; 
    text-align: left;
}
.textitodeabajocard p{
    font-size: 18px;
    line-height: 1.5;
    color: grey; 
    text-align: left;
}
.contenedorenlace{
    justify-content: center;
    text-align: center;
}
.enlace{
    color: blue;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.barranegro {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin: 40px 0; 
}

.barranegrodentro {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 50px; 
    overflow: hidden; 
}

.barranegrodentro a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1); 
}

.contenedorcartasmas {
    display: flex;
    flex-wrap: wrap;     
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
}
.textitodeabajomascard{
    padding-top: 5%;
    max-width: calc(30% - 10px); 
    background-color: black;
    border-radius: 5px;
    text-align: left; 
    margin-bottom: 40px; 
    box-sizing: border-box; 
    flex-grow: 1;
}
.textitodeabajomascard h3{
    font-size: 18px;
    color: white; 
}
.textitodeabajomascard p{
    font-size: 18px;
    line-height: 1.5;
    color: grey; 
}
.ultimo{
    text-align: center;
    padding: 80px 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ultimo h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
.ultimo h3 {
    font-size: 20px;
    color: #333; 
    margin-bottom: 30px;
    font-weight: normal; 
}
.ultimo a {
    text-decoration: none;
    background: linear-gradient(180deg, #ff4c8a, #f72c68); 
    color: white;
    padding: 12px 40px;
    box-shadow: 0 4px 10px rgba(247, 44, 104, 0.4); 
    border-radius: 999px; 
}


.contenderfoot {
    color: #333;
    padding-top: 40px;
    border-top: 1px solid #ddd; 
}

.espaciosfoot {
    display: flex;
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto 50px auto; 
}

.columnas {
    display: flex;
    flex-direction: column; 
}

.columnas h3 {
    font-size: 16px;
    color: black;
    margin-top: 0;
}

.columnas a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px; 
}

.columnas a:hover{
    color:darkgray
}

.copyrigth {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #ddd; 
}

.copyrigth p {
    font-size: 12px;
    color: #999;
}
.contentenedornegro2{
    width: 100%;
    max-width: 700px; 
    margin:  auto;
    text-align: center;
    padding-top: 5%;
}
.contentenedornegro2 h1{
    font-size: 58px;
    line-height: 1.1;
    width: 90%;
    margin: auto;
}
.contentenedornegro2 p{
    font-size: 22px;
    margin: 0;
}

.carta4{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 800px; 
    margin: 50px auto; 
    text-align: center;
    padding-bottom: 5%;
}

.carta5{
    width: 50%; 
    box-sizing: border-box; 
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.carta5 p {
  font-size: 16px;        
  font-weight: 600;       
  width: 70%; 
  font-size: 20px;
}

.grisacio{
    background-color: #F2F2F2;
}

/*Aqui acaba lo mio del css*/




/* barra superiror fixe i tranparent*/
.topnav{ 
  position: sticky;
  top: 0;
  height: 50px;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  border-bottom: 1px solid var(--glass-bd);
  background: var(--glass-bg);
  backdrop-filter: blur(10px) saturate(140%);
  -webkit-backdrop-filter: blur(10px) saturate(140%);
  z-index: 1;
}
.topnav .div{
    list-style: none;
    display: flex;
     gap: 18px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 20px;
    
}
.topnav2{
    margin: auto;
    justify-content: center;
    padding: 15px;
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    padding: 20px 0;
    

}

.topnav2 .menu{
  list-style: none;
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  gap: 20px;
  
}
/*modificador per els links*/
.topnav2 .menu a{
    justify-content: space-between;
    text-justify: center;
    margin-left: 30px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
/*modificador href*/
.topnav2 .menu a:hover{
  background: rgba(255, 255, 255, 0.55);
}

.conteneor_1_blanco{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    align-items: center;
    max-width: 1280px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.conteneor_1_blanco_link{
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.img_hero{
    max-width: 1106px;
  width: 100%;  
  margin: auto;
  padding-top: 100px;
}

.texto_1{
    font-size: 20px;
    padding-top: 50px;  
}

.buy_button{
    padding-top: 40px;
    text-align: center;

}
.buy_button_text{
      padding: 10px;
      font-size: 14px;
      border: 2px solid #ee254a; 
      border-radius: 999px; 
      color: #ee254a;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
}

.topnav .Pixelmator{
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, .88);
    margin-right: 450px;
}

.topnav .div img{
    max-width: 50px;
    display: block;
    
}

/*div blanco general zonas blnacas*/
.blanco{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 50px;
}
.contentenedorBlanco{
    width: 100%;
    max-width: 1264px; 
    margin:  auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contentenedorBlanco h1{
    font-size: 65px;
    width: 64%;
}
.contentenedorBlanco p{
    width: 64%;
    font-size: 20px;
    margin: 0;
    padding: 20px;
}
.contentenedorBlanco img{
    width: 60%;
    display: block;
    margin: auto;
    padding: 30px;
}
.contentenedorBlanco video{
    width: 90%;
    height: auto;
    border-radius: 16px;
    margin-top: 15px;
}
/*Contenedor gris con imagen*/
.contenedorGris{
  background: #e6e1e1;            /* fondo gris claro */
  border-radius: 12px;            /* esquinas redondeadas */
  padding: 40px;                  /* espacio interno */
  display: flex;                  /* dos columnas */
  justify-content: space-between;
  margin: 0 auto; 
  max-width: 800px;   
  margin-top: 50px;            
}


.contenedorGris_content{
  flex: 1;                        /* ocupa el espacio que hay disponible en el cuadro */
}
.contenedorGris_content h2{
font-weight: bold;
font-size: 20px;
}
.contenedorGris_content p{
font-size: 16px;
}
.grey_box_imagen{
  flex: 1;
  display: flex;
}

.grey_box_imagen img{
 flex: 1;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/*contenedor samrt guides*/
.contenedorSmartGuides{
    display: flex;
    gap: 20px;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
    align-items: stretch;
    margin-bottom: 100px;
    display: flex;
    margin-top: 60px;


}

.smartGuides{
    background: center / cover url(img/img_design-guides@2x.jpg);
    border-radius: 12px;
    box-sizing: border-box;
    height: 450px;
    width: 500px;
    padding: 50px;
    
}
.smartGuides p{
    font-size: 14px;
    margin-left: 150px;
    margin-top: 100px;
    color: white;
}

.layerSytles{
    background-color:#e6e1e1; 
    width: 420px;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
}
.layerSytles p{
    font-size: 14px;
    margin: auto;
}



/*image editing machine learning*/
.titulo{
    justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.titulo h1{
    color: #000;
    font-size: 50px;
}
.titulo .machine{
    color: rgb(255, 196, 0);
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: -20px;

}
.titulo p{
    margin: auto;
    width: 50%;
    font-size: 20px;
}
.contentenedorBlanco .editting{
    font-size: 50px;
}
.contentenedorBlanco .texto{
    font-size: 19px;
    color: #333;
}

/*div gris flojo*/
.gris{
    padding-top: 50px;
    background-color: rgb(248, 247, 247);
    width: 100%;
    display: flex;    
}
.Contenedor_cartas_Grises{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    max-width: 900px;
    
}
.Contenedor_cartas_Grises .carta{
    background-color: #dddcdc;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 240px;
}
.Contenedor_cartas_Grises img{
    width: 40px;
    height: 40px;

}
.Contenedor_cartas_Grises p{
    font-size: 14px;
    color: #333;
}

.Contenedor_cartas_Grises h1{
    font-size: 18px;
    font-weight: bold;
}

/*Great-looking text*/
.contenedorGratLooking{
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 40px;

}
.contenedorGratLooking h1{
    font-size: 65px;
    margin: 0;
    padding: 0;
    line-height: 1;

}


.contenedorGratLooking img{
    display: inline-block;
    max-width: none;
    height: auto;
    width: 100%;
    margin-top: -140px;
    vertical-align: top;
}

.contenedorGratLooking p{
    text-align: center;
    font-size: 20px;
    color: #666;
    margin: auto;
    max-width: 700px;
    margin-top: -170px;
    
}

/*san francisco*/
.contenedorSanFrancisco{
    display: flex;
    align-items: center;
    justify-content: stretch;
    background-color: #36be85;
    border-radius: 25px;
    margin: auto;
    gap: 40px;
    width: 50%;
    margin-top: 50px;
    overflow: hidden;
    max-width: 1100px;
}
.sanFrancisco{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.sanFrancisco h3{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.sanFrancisco p{
    font-size: 15px;
    color: white;
}
.sanFrancisco_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sanFrancisco_img img{
    width: 100%;
    max-width: 480px;
    height: auto;
}

/*Graphique*/
.Contenedro_cartasgraphique{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.graphique{
    margin-top: 50px;
    background-color: #f7f5f5;
    border-radius: 20px;
    width: 400px;
    text-align: left;
    color: #333;
    padding: 30px;
}
.graphique video{
    width: 100%;
    align-items: center;
}
.graphique img{
    width: 100%;
    max-width: 300px;
}
/*Real time*/
.Gris2{
    width: 100%;
    margin:  auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
}
.Gris2 h1{
    margin-top: 150px;
    font-size: 65px;
    width: 40%;
}
.Gris2 p{
    width: 40%;
    font-size: 20px;
    color: #666;
}
.links{
    margin-top: 50px;
    margin-bottom: 50px;
}
.links a{
    color: #217cb9;
    text-decoration: none;
    font-weight: bold;
}

.contenedorEffects{
    display: flex;
    gap: 95px;
    border-radius: 20px;
    padding: 50px;
}
.contenedorEffects_img{
    width: 60%;
    object-fit: cover;
    margin-left: -90px;
}
.tarjeta_RosiGris{
    width: 30%;
}
.tarjeta_Gris{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}
.tarjeta_Gris p{
    margin: auto;
    width: 60%;
}
.tarjeta_Rosa{
    margin-top: 20px;
    padding: 30px;
    background: #f58aa8;
    color: white;
    border-radius: 20px;
}
.tarjeta_Rosa p{
    width: 70%;
    color: white;
    margin: auto;
}
.tarjeta_Rosa img{
    width: 100%;
    margin-bottom: -35px;
}

.IconosAdvanced{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 30px;
}
.IconosAdvanced_iconos{
    text-align: center;
}
.IconosAdvanced_iconos img{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;

}
.IconosAdvanced_iconos p{
    width: 100%;
    font-size: 16px;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
    color: #000;
}

/*desingned and build*/
.contenedor_designed{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor_designed img{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor_designed p{
    width: 50%;
    font-size: 20px;
    margin: 0;
    padding: 20px;
}
.contenedor_designed h1{
    font-size: 65px;
    width: 64%;
    
}
.div_iconos{
    max-width: 700px;
    margin: auto;
}
.IconosAdvanced2{
    margin: auto;
    width: 100%;
    max-width: 1264px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}
.IconosAdvanced_iconos2{
    text-align: center;
    flex: 1;
}
.IconosAdvanced_iconos2 img{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;

}
.IconosAdvanced_iconos2 p{
    width: 100%;
    font-size: 16px;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
    color: #000;
}
